body{
    background-color:#fff;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
body {
  font-family: 'Roboto', sans-serif;
}
.sidebar {
  position:absolute ;
  overflow-x:scroll;
  top:  -2%;
  left: -250px;
  width: 250px;
  height: 100%;
  z-index:1000;
  background: #5aaadb;
  transition: all .5s ease;
}
.sidebar header {
  font-size: 25px;
  font-weight:bold;
  color: #fff;
  line-height: 70px;
  text-align: center;
  background: #1546a0;
  user-select: none;
}
.sidebar ul a{
  display: block;
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 20px;
  color:#fff;
  padding-left: 40px;
  box-sizing: border-box;
  border-bottom: none;
  border-top:none;
  transition: .4s;
  background-color:#5aaadb;
}
ul li:hover a{
  padding-left: 50px;
  color:#fff;
  font-weight:bold;
  background-color:#0070ba;
}
.sidebar ul a i{
  margin-right: 16px;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  background: #fff;
  border-radius: 3px;
  cursor: pointer;
}
label #btn{
  left: 5px;
  top: 25px;
  font-size: 35px;
  color: #1546a0;
  padding: 6px 12px;
  transition: all .5s;
}
label #cancel{
  z-index: 1111;
  left: -195px;
  top: 11px;
  font-size: 30px;
  color: #fff;
  padding: 4px 9px;
  transition: all .5s ease;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  left: 250px;
  opacity: 0;
  pointer-events: none;
}
#check:checked ~ label #cancel{
  left: 195px;
  background:#1546a0;
}
#check:checked ~ section{
  margin-left: 50px;
}

img{
  width: 100%;

}

  .rectangulo {
    width: 62px; 
    height: 25px; 
    border: 1px solid #000;
    background: #428bca;
    margin-bottom:10%;
  }
  .barra {
    width:100%; 
    height: 25px; 
    border: 1px solid #000;
    background: #fff;
    margin-top:10%;
  }

  #proyecto{
    margin-top:70%;
  }

.proyect-container{
    width: 70%;
    height:70%;
    padding: 40px;
    display:flex;
    flex-direction:column;
    align-items: center;
    margin-top:10%;
    margin-left:50%;
    transform: translate(-50%, -50%);
    border: solid 2px #aaa;
    text-align: center;
}
.datos-container p{
 display: inline;
 margin-right:5%;
 margin-top: 5%;
}

.datos-container{
  display:flex;
  flex-direction: row;
  align-items: center;
 }


.bottomNavMainCont {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        z-index:1111;
        will-change: transform;
        transform: translateZ(0);
        display:flex;
        height: auto;
        padding: 4px;
        padding-bottom: 6px;
        box-shadow: 0 -6px 5px -2px rgba(204, 203, 203, 0.5);
background-color: #1546a0;       
}
 .bottomNavItemCont {
          flex-grow: 1;
          text-align: center;
          font-size: 12px;
          display: flex;
          flex-direction: column;
          justify-content: center;
    }
.mobileNavItem {
          display: flex;
        flex-direction: column;
        font-family: 'Roboto', sans-serif;
        color:#fff;
    }


.material-icons, 
activeNavItem{
 font-size: 25px;
 line-height: 30px;
 margin-bottom: 4px;
 margin-top: 2px;
 }